/* Simplified CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, strong, b, i, u, small, code, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}